.wrapper {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 4rem auto;
}

.heading {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-bottom: 20px;
}
.tab-item {
  display: flex;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none;
  color: #020000;
  background-color: #fdfcfe;
}
.label {
  width: 100%;
  padding: 10px;
}

.tab-item.active {
  background-color: rgb(249, 143, 12);
  color: #fff;
}

.content {
  height: 100vh;
}

/* gap */

.gap {
  display: grid;
  gap: 1rem;
  justify-content: center;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.img_product {
  width: 200px;
  display: flex;
  margin: 1rem auto;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price-pr {
  color: var(--black);
  line-height: 2rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.7rem;
}
.price-name {
  color: var(--red);
  line-height: 1rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.2rem;
}
