.padding {
  padding: 10rem 0;
}

.text {
  font-size: 5rem;
  font-weight: 700;
  line-height: 58px;
  font-family: Palanquin, sans-serif;
}
.span {
  color: var(--red);
  margin: 0 5px;
}
.my_text {
  font-family: Montserrat, sans-serif;
  color: var(--open-white);
  font-weight: 400;
}

.grid_img {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  place-items: start;
}
.card {
  display: block;
  cursor: pointer;
  transform: 0.5ms;
  transition: all;
}
.card:hover {
  text-decoration: underline;
  filter: drop-shadow(0 0 0.2rem rgba(220, 20, 60, 0.185));
}

.img {
  width: 300px;
  filter: drop-shadow(0 0 0.75rem rgba(220, 20, 60, 0.752));
}

.titles {
  font-size: 2rem;
  display: flex;
  gap: 5px;
  font-weight: 600;
}
.titles img {
  width: 20px;
}
.titles span {
  color: var(--red);
}

.name {
  font-weight: 600;
  color: var(--black);
}
.price {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--red);
  font-family: Montserrat, sans-serif;
}
@media screen and (max-width: 1180px) {
  .grid_img {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    place-items: center;
  }
  .text {
    font-size: 3rem;
  }
}
@media screen and (max-width: 900px) {
  .padding {
    padding: 0;
  }
  .grid_img {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .grid_img {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}
