.text {
  font-size: 5rem;
  font-weight: 700;
  line-height: 58px;
  font-family: Palanquin, sans-serif;
}
.span {
  color: var(--red);
  margin: 0 5px;
}
.grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-columns: repeat(2, 1fr);
}
.flex {
  padding: 10px;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.flex p {
  color: var(--open-white);
  font-size: 2rem;
}
.img {
  display: block;
  width: 600px;
  max-width: 100%;
  margin: auto;
}

.btn {
  margin-top: 4rem;
  padding: 14px 30px;
  border: none;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: var(--white);
  background-color: var(--red);
  transition: 0.5s;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
}
.btn:hover {
  background-color: red;
}

@media screen and (max-width: 994px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
