@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --red: rgb(255, 100, 82);
  --white: rgb(255 255 255);
  --black: #141414;
  --open-white: #6d6d6d;
  --fs-fm: Montserrat, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: font-montserrat, palanquin;
  text-decoration: none;
  font-style: none;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
.max-container {
  max-width: 1360px;
  margin: 2rem auto;
}
.max-container2 {
  max-width: 1360px;
  margin: auto;
}
body {
  font-size: 1.6rem;
}

.padding {
  padding: 6rem 0px;
}

@media screen and (max-width: 764px) {
  .padding {
    padding: 0.5rem;
  }
}
.bg {
  max-width: 100%;
  width: 100%;
  background-color: rgb(245 246 255);
}
.bg-black {
  max-width: 100%;
  width: 100%;
  background-color: rgb(0, 0, 3);
}
